*.ogv
*.mkv
*.jpg
*.json
*.mjpeg
*.yuv
*.tmp
*.mp4
*.wav

Design Archive_smallest/

FileZilla-3.66.5/
Hardware_deprecated/thonny-4.1.4-windows-portable/

archive.rar
Archive.tar
Design Archive.rar
Design Archive_small.rar
Software_Game/VR Lifelog Data Viewer/builds/VR Lifelog Data Viewer v5.apk
Software_Game/VR Lifelog Data Viewer/builds/VR Lifelog Data Viewer v5.exe

Software_Game/VR Lifelog Data Viewer/android